<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration>

  <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="-5p %d %c - %m%n"/>
    </layout>
  </appender>

  <logger name="com.eb">
    <level value="DEBUG"/>
    <appender-ref ref="stdout"/>
  </logger>

  <logger name="org.springframework">
    <level value="ERROR"/>
    <appender-ref ref="stdout"/>
  </logger>

  <logger name="org.hibernate">
    <level value="WARNING"/>
    <appender-ref ref="stdout"/>
  </logger>

  <logger name="org.apache">
    <level value="ERROR"/>
    <appender-ref ref="stdout"/>
  </logger>

</log4j:configuration>
